/*폰트*/
@font-face {
    font-family: 'Gangwon';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexon';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    position: relative; 
    height: 100px;
    background: #145281;
    color: #F5F5F5;
    font-family: Gangwon;
    
}

nav {
    position: absolute;
    bottom: 10px; 
    right: 20px;
}

nav ul {
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #F5F5F5; 
    font-size: 18px;
}

nav ul li a:hover {
    color: #BAE8F6;
    text-decoration: underline; 
}

/*본문*/
.full{
    display:flex;
    height: 980px;
    background: #F6F7F0;
    font-family: Nexon;
}

.left{
    width:500px;
    
    background-color: #BAE8F6;
}

.left-top{
    padding-top: 30px;
    height: 10%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#145281;
}

.left-img{
    text-align: center;
    padding-bottom: 80px;

}

img{
    width: 350px;
    height: 350px;

}

.details {
    justify-content: center;
    max-width: 400px;
    padding: 10px;
    color:#145281;
}

.details dl {
    display: grid;
    grid-template-columns: 100px auto; 
    column-gap: 20px; 
    row-gap: 50px; 
}

.details dt {
    font-weight: bold;
    text-align: center; 
}

.details dd {
    margin: 10; 
    text-align: center;
}


li{
    margin: 15px 0px;
}


.about{
    color: #145281;
    padding-left: 100px;
    padding-top: 20px;

}

/*푸터*/
footer {
    display: flex; 
    justify-content: center;  
    padding: 20px; 
    background-color: #145281;
    font-family: Nexon;
}

footer ul {
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

footer ul li {
    font-size: 16px; 
    color: #F5F5F5;
    margin-left: 100px;
    margin-right: 100px;
}